<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synapse.thumbimpression">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sample.FirstActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <!-- android:screenOrientation="portrait" -->
        <activity
            android:name="com.sample.FpSDKSampleP41MActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.example.bahl.bahl.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bahl.bahl.BiometricVerficationActivity"
            android:allowBackup="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="69c484c4da265db97b137b818a38e9ea60bd4311" />

        <activity
            android:name="com.example.bahl.bahl.BiometricDetailActivity"
            android:allowBackup="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />


    </application>

</manifest>
